<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/site.css">
</head>

<body>
    <div id="page-content">
        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>SoftUni Sleepover</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>
                    <li>
                        <a href="/catalog">Browse Accomodation</a>
                    </li>
                    <li>
                        <a href="/create">Host</a>
                    </li>
                    <li>
                        <a href="/facility/create">Create Facility</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>Viktor Kostadinov &copy; 2022</footer>
    </div>
</body>

</html>