<section id="create-facility-section" class="">

    <h1 class="item">New Facility</h1>

    <main class="item padded align-center">

        <form class="layout large aligned" method="post" action="/facility/create">

            <label><span>Label</span><input type="text" name="label"></label>
            <label><span>Icon URL</span><input type="text" name="iconUrl"></label>

            <div class="align-center">
                <input class="action" type="submit" value="Publish Item">
            </div>

        </form>

    </main>

</section>