<section id="create-section" class="">

    <h1 class="item">New Accomodation</h1>

    <main class="item padded align-center">

        <form class="layout left large" method="post" action="/create">
            {{#if error}}
            <div class="error-box">
                {{#each error}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
            <div class="col aligned">
                <label><span>Name</span><input type="text" name="name"></label>
                <label><span>City</span><input type="text" name="city"></label>
                <label><span>Beds</span><input type="number" name="beds"></label>
                <label><span>Price per night</span><input type="number" name="price"></label>
                <label><span>Image URL</span><input type="text" name="imgUrl"></label>
            </div>

            <div class="content pad-med align-center vertical">
                <label>
                    <span>Description</span>
                    <textarea name="description"></textarea>
                </label>

                <div class="align-center">
                    <input class="action" type="submit" value="Publish Item">
                </div>
            </div>

        </form>

    </main>

</section>