<section>

    <h1 class="item">SoftUni Sleepover</h1>

    <div class="item">

        <main class="layout left med">
            <div class="col">
                <img src="/static/assets/splash.jpg" class="img-med">
            </div>

            <div class="content pad-med">
                <p>Welcome to SoftUni Sleepover!</p>
                <p>Quickly find affordable accomodation anywhere in the country.</p>

                <div class="align-center">
                    <a class="action" href="/catalog">Browse Listings</a>
                    <a class="action" href="/create">Host New Accomodation</a>
                </div>
            </div>
        </main>

    </div>

</section>