<section id="create-section" class="">

    <h1 class="item">Login</h1>

    <div class="padded">
        <main class="item align-center">

            <form class="layout left large" method="post" action="/auth/login">
                {{#if error}}
                <div class="error-box">
                    {{#each error.messages}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <div class="aligned">
                    <label><span>Username</span><input type="text" name="username" value="{{body.username}}"></label>
                    <label><span>Password</span><input type="password" name="password"></label>
                </div>

                <input class="cta action" type="submit" value="Sign In">

            </form>

        </main>

        <footer>Don't have an account? <a href="/auth/register">Sign up here</a></footer>
    </div>


</section>