<section id="create-section" class="">

    <h1 class="item">Register</h1>

    <div class="padded">
        <main class="item align-center">

            <form class="layout left large" method="post" action="/auth/register">
                {{#if error}}
                <div class="error-box">
                    {{#each error.messages}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <div class="aligned">
                    <label><span>Username</span><input {{#if error.fields.username}}class="field-error"{{/if}} type="text" name="username" value="{{body.username}}"></label>
                    <label><span>Password</span><input {{#if error.fields.password}}class="field-error"{{/if}} type="password" name="password"></label>
                    <label><span>Repeat</span><input {{#if error.fields.repass}}class="field-error"{{/if}} type="password" name="repass"></label>
                </div>

                <input class="cta action" type="submit" value="Sign Up">

            </form>

        </main>

        <footer>Already have an account? <a href="/auth/login">Sign in here</a></footer>
    </div>

</section>